@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Cabin+Sketch");
@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script");

@font-face {
	font-family: 'Limelight';
	src: url('fonts/Limelight.ttf') format('truetype');
}
@font-face {
	font-family: 'Minotaur';
	src: url('fonts/minotaur.ttf') format('truetype');
}

@font-face {
	font-family: 'Unseen';
	src: url('fonts/the unseen.ttf') format('truetype');
}
@font-face {
	font-family: 'School';
	src: url('fonts/School Book New.ttf') format('truetype');
}
@font-face {
	font-family: 'Booklet';
	src: url('fonts/Booklet Cordel.ttf') format('truetype');
}
@font-face {
	font-family: 'Century Gothic';
	src: url('fonts/GOTHIC.ttf') format('truetype');
}


